body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.resume {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li h3 {
    margin: 0;
    font-size: 1.2em;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills ul li {
    background-color: #e7e7e7;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.interests ul{
    display:flex;
    flex-wrap:wrap;
}
.interests  ul li{
   
    margin:10px;
    padding:10px;
    background-color: #e7e7e7;
    border-radius: 10px;

}
